/*

*/

@font-face
{
    font-family: 'TH Niramit AS';
    src: url('../themes/font/TH Niramit AS.ttf')
        ,url('../themes/font/TH Niramit AS.ttf'); /* IE9 */
}

body { 
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
    font-family: 'TH Niramit AS';
    font-size: 20px;
    line-height: 24px;
    color: #333;	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'TH Niramit AS';
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #039;
}
a:hover {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:visited {
    color: #609
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,  .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    font-weight: 400;
    color: #333;    
    font-weight: bold;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,  .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
    text-decoration: none;
    color: #003399;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,  .h1 a:visited, .h2 a:visited, .h3 a:visited, .h4 a:visited, .h5 a:visited, .h6 a:visited {
    color: #333;
}

#slide {
    margin-top: 10px; 
}

.bs-example {
    border: 1px solid #aaaaaa; 
    border-radius: 0;
    padding: 10px;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
.nav-tabs>li>a {
    border-radius: 0;
}

div#firstpageline {    
    position: absolute;
    left: 0;
    /*
    top: 99px;
    */
}

div#lastpageline {
    position: absolute;
    left: 0;
}
div.pageline {
    height: 1px;
    background-color: #8f8f8f;
    width: 100%;
    overflow: hidden;
}

/* ==== Footer  ========================== */

#sitefooternav {    
    font-size: 90%;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em; /* -webkit-margin-before: 1em; */
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /* -webkit-padding-start: 40px; */
}

#sitefooternav ul
{
    margin: 0 10px 0 0;
    padding: 0;
    color: #004499;
    text-indent: 0;
    /* width: 178px; */
}

#sitefooternav li {
    margin: 4px 0 0 0.6em;
    text-indent: -0.6em;
    padding-left: 0;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
}

#sitefooternav li a {
    color: #004499;
}
#sitefooternav li a:hover {
    color: #333;
    font-weight: bold;
}
#sitefooternav li a:visited {
    color: #609;
}

footer {
    margin-top: 1px;
    width: 100%;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
}

footer > .row {
    margin-left: 5px;
}

li > b {
    color: #333;
}
li.li-head{
    color: #333;
    font-weight: bold;
}
/* ========================================== */

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 8px;
}
p{
    margin: 0
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

table {
    margin: auto;
    margin-top: 15px;
}

.form-control {
    font-size: 20px;
}

.btn {
    font-size: 20px;
}

#page-header .col-sm-6, #page-header .col-md-6 {
    padding-top: 0px;
}

.lb-data .lb-details .lb-caption, .lb-data .lb-details .lb-number {
    font-size: 20px;
}

.p-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

a.all-title{
    color: green;
}



@media (min-width: 1200px)  {
    .container {
        max-width: 100%;
    }
    .container > .row, 
    footer > .row {
        width: 970px;
        margin:  auto;
    }  

} /*  END @media (min-width: 1200px) */

@media (min-width: 993px){

    .fetured-image{
        max-width: 100%;
        height: auto;
        border: none;
    }

    .featured-image-network{
        text-align: center;
        border: 1px solid #666666;
        width: 465px; 
        height: 245px; 
        overflow: hidden;
    }

    .featured-image-box {
        text-align: center;
        border: 1px solid #666666;
        width: 225px; 
        height: 161px; 
        overflow: hidden;
    }

} /*  END @media (min-width: 993px) */

@media (min-width: 768px) and (max-width: 992px){
    .fetured-image {
        max-width: 100%;
        height: auto;
        border: none;
    }

    .featured-image-network{
        text-align: center;
        border: 1px solid #666666;
        width: 100%; 
        height: auto; 
        overflow: hidden;
    }


    .featured-image-box {
        text-align: center;
        border: 1px solid #666666;
        width: 355px; 
        height: 254px; 
        overflow: hidden;
    }
} /*  END @media (min-width: 768px) and (max-width: 992px) */

@media (max-width: 767px) {
    .fetured-image {
        max-width: 100%;
        height: auto;
        border: 1px solid #666666;
    }

    .featured-image-network,    
    .featured-image-box{
        text-align: center;        
        border: none;
        width: 100%; 
        height: auto; 
        overflow: hidden;
    }
} /*  END @media (max-width: 767px) */
